@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
  box-sizing: border-box;
}

body {
  background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color:#d2ddf5;
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-image: linear-gradient(135deg, #75b6e0 0%, #666bd3 100%);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.gradient-circle {
  background: conic-gradient(
    
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 4s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

button {
  border-radius:60px;
  color: #9599E2;
  font-family: 'Oswald';
  background-color: #d2ddf5;
  border-color: #d2ddf5;
  border: 0;
  transition: 700ms ease-in-out;
}

.btn-1 {
  font-size: 1.8em;
  width: 200px;
  height: 100px;
  min-width: 80px;
  min-height: 40px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px;
}

.homeBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2em;
  width: 100px;
  height: 50px;
  min-width: 40px;
  min-height: 20px;
}