@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-25deg, #1b7f79 0%, #00ccc0 100%);
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #04473e;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.gradient-circle {
  background: conic-gradient(
    
    #2a5b52 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.container.grow {
  animation: grow 4s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 4s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

button {
  /* border-radius:0px; */
  color: black;
  font-family: 'Playfair Display', serif;
  background-color: #98e4d9;
  border-color: #98e4d9;
  transition: 1000ms ease-in-out;
}

.btn-1 {
  font-size: 1.8em;
  width: 200px;
  height: 100px;
  min-width: 80px;
  min-height: 40px;
}

.btn-1:hover {
  transform: scale(1.3);
}

.homeBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
