body {
    /* --def: #96B7C4;
    --inv: #fff; */
    /* background-image: linear-gradient(-25deg, #1b7f79 0%, #00ccc0 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* background-color: #00ccc0; */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

#mainTitle {
    margin-top: -10%;
    margin-bottom: 3%;
}

h1 {
    font-size: 9rem;
    color:#d2ddf5;
    /* letter-spacing: 1.1rem; */
    font-family: 'Oswald';
    transition: 1000ms ease-in-out;
}

h1:hover {
    transform: scale(1.01);
    text-shadow: 0em 0.3em 0.15em rgba(0, 0, 0, 0.5);
}

/* .container {
    display: flex;
} */

button {
    border-radius:60px;
    color: #9599E2;
    font-family: 'Oswald';
    background-color: #d2ddf5;
    border-color: #d2ddf5;
    border: 0;
    transition: 700ms ease-in-out;
}

.btn-1 {
    font-size: 1.8em;
    width: 200px;
    height: 100px;
    min-width: 80px;
    min-height: 40px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px;
}

.homeBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#birds {
    background: url(birds6.gif);
    background-size: cover;
}

#rain {
    background: url(rain.gif);
    background-size: cover;
}

#forest {
    background: url(forest.gif);
    background-size: cover;
}