@import url("https://fonts.googleapis.com/css?family=Oswald");


body {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  font-family: 'Oswald', sans-serif;
  color:#d2ddf5;
  min-height: 1000vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}



p {
background-color: rgba(255, 255, 255, 0);
display: flex;
align-items: center;
justify-content: center;
font-size: 150px;
margin: 0;
height: 100%;
width: 100%;
margin-top: 15%;
}

button {
  border-radius:60px;
  color: #9599E2;
  font-family: 'Oswald';
  background-color: #d2ddf5;
  border-color: #d2ddf5;
  border: 0;
  transition: 700ms ease-in-out;
}

.btn-1 {
  font-size: 1.8em;
  width: 200px;
  height: 100px;
  min-width: 80px;
  min-height: 40px;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px;
}

.homeBtn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.2em;
  width: 100px;
  height: 50px;
  min-width: 40px;
  min-height: 20px;
}